@model IEnumerable<WebApp.Models.DataModels.Entities.Event>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Доска мероприятий</h1>
<div class="row justify-content-center">
    <div class="hideOldEvents">
        <label>Показывать прошедшие мероприятия?</label>
        <input type="checkbox" id="showOldEvents" />
    </div>
</div>
<partial name="_EventsBoard" />