@model WebApp.Models.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "MyEvents";
}

<h1>Мои мероприятия</h1>
<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#participateEvents">Участник</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#organizedEvents">Организатор</a>
    </li>
</ul>
<div class="row justify-content-center">
    <div class="hideOldEvents">
        <label>Показывать прошедшие мероприятия?</label>
        <input type="checkbox" id="showOldEvents" />
    </div>
</div>
<div class="tab-content justify-content-center">
    <div class="tab-pane container active" id="participateEvents">
        <partial name="_EventsBoard" , model="Model.SubscribedEvents.Select(s => s.Event).Where(e => e.OrganizerId != Model.UserId).ToList()" />
    </div>
    <div class="tab-pane container fade" id="organizedEvents">
        <partial name="_EventsBoard" , model="Model.SubscribedEvents.Select(s => s.Event).Where(e => e.OrganizerId == Model.UserId).ToList()" />
    </div>
</div>


