
@{
    ViewData["Title"] = "Sign In";
}

<h2>Регистрация нового пользователя</h2>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Пожалуйста, введите свои данные
            </h4>
        </div>
        <div class="panel-body">
            <form role="form" asp-action="Register" asp-controller="SignIn">
                <div class="form-group">
                    <label for="name">Имя:</label>
                    <input type="text" name="Name" class="form-control input-sm" placeholder="Ваше имя">
                </div>
                <div class="form-group">
                    <label for="name">Фамилия:</label>
                    <input type="text" name="Surname" class="form-control input-sm" placeholder="Ваша фамилия">
                </div>
                <div class="form-group">
                    <label for="email">Электронная почта:</label>
                    <input type="text" name="Email" class="form-control input-sm" placeholder="example@mail.com">
                </div>
                <div class="form-group">
                    <label for="pwd">Пароль:</label>
                    <input type="text" name="Password" class="form-control input-sm" placeholder="Введите пароль">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

