
@{
    ViewData["Title"] = "EmailValidSuccess";
}

<div class="signup-form">
    <form>
        <div class="col-xs-8 col-xs-offset-4">
			<h2>Подтверждение почты</h2>
            <h3>Почта успешно подтверждена!</h3>
		</div>
    </form>
</div>
