@model WebApp.Models.DataModels.Entities.Event
@{
    ViewData["Title"] = "EditEvent";
}

<div class="event-editor-form">
    <form role="form" asp-action="EditEvent" asp-controller="EventPage" method="post">
        <div class="col-xs-8 col-xs-offset-4">
            <h2>Редактирование мероприятия</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "Не удалось изменить мероприятие, попробуйте снова")
                <div class="row">
                    <partial name="_EventEditor" />
                    <div class="col-lg d-flex align-items-center justify-content-center">
                        <table>
                            <tr>
                                <td><label>Обложка мероприятия</label></td>
                            </tr>
                            <tr>
                                @{ 
                                    TempData["eventIconId"] = (int)@Model.EventTheme;
                                }
                                <td><img id="eventIcon" src="~/img/eventIcons/eventIcon.svg" /></td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Изменить мероприятие" class="submit-button" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="form-group" hidden>
                    @Html.EditorFor(model => model.EventId)
                </div>
            }
        </div>
    </form>
</div>
<script>
    $("#eventIcon").attr("src", "/img/eventIcons/eventIcon" + @TempData["eventIconId"] + ".svg");
</script>

