/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
body {
    background: #f3f3f3;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.btn:focus,.btn:active {
    outline: none;
    box-shadow: none;
 }
.form-control:focus,.form-control:active {
    outline: none;
    box-shadow: none;
 }
.form-control {
    border-color: #eee;
    min-height: 41px;
    box-shadow: none;
}
.form-control:focus {
    border-color: #5cd3b4;
}
.form-control, .btn {        
    border-radius: 3px;
}
form .btn:active {
    color: #f0f0f0;
    background: #49e0bb !important;
}
form .btn:hover, .btn:focus {
    background: #41cba9;
}

